{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>P4 Drawing</title>

    <link rel="stylesheet" type="text/css" href="{% static 'draw/vendor/bootstrap/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'draw/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'draw/vendor/paper/paper-full.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'draw/vendors/bootstrap/css/bootstrap.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'draw/style.css' %}" />

    <style type="text/css">

    </style>

</head>

<body>
    <!-- You may change the dimensions of this canvas -->
    <h1 style="text-align: center; padding-top: 20px; font-weight: bold;">Welcome to Food Share!</h1>
    <h3 style="text-align: center; padding-top: 15px; padding-bottom: 15px;">Here are some amazing food for today!</h3>
    <div id="myCanvas" width="750px" height="750px"></div>

</body>
<script>
    var uid = Date.now() % 10000;
    var smallSockets = new Map();

    // getting the URL (you may want to use for Exercise 3)
    var url = window.location.href;

    var socket = new WebSocket(
        'ws://' + window.location.host + '/ws/draw');

    var tag;
    var img;
    var text;
    //var text2;
    var text3;

    function makeid(length) {
        var result           = '';
        var characters       = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
        var charactersLength = characters.length;
        for ( var i = 0; i < length; i++ ) {
          result += characters.charAt(Math.floor(Math.random() * 
     charactersLength));
       }
       return result;
    }


    if (url.indexOf("large") > -1) {
        socket.onmessage = function(receivedMessage) {
            var received = JSON.parse(receivedMessage.data);
            console.log("Received: " + JSON.stringify(received));
            if (received.page == "confirmation") {
                var container = document.createElement("div");
                container.id = makeid(3);
                container.setAttribute("style","width:220px;height:400px;float:left;text-align:center;background-color:#f5f5f5;padding:10px 10px 10px 10px;");
                // asign a number to pic
                document.getElementById("myCanvas").appendChild(container);
                var foodNum = document.createElement("p");
                foodNum.innerText = "Food #" + Math.floor(Math.random() * 10) + Math.floor(Math.random() * 10) + Math.floor(Math.random() * 10);
                foodNum.style.fontSize = "20px";
                document.getElementById(container.id).appendChild(foodNum);
                // add image, text
                document.getElementById(container.id).appendChild(img);
                document.getElementById(container.id).appendChild(text);
                //document.getElementById(container.id).appendChild(text2);
                document.getElementById(container.id).appendChild(text3);
                //document.getElementById('myCanvas').appendChild(img);
                //document.getElementById('myCanvas').appendChild(text);
            }
            else{
            tag = received.tag;
            if (tag == 'IMG'){
                img = document.createElement(tag);
                img.src = received.src;
                img.height = 200;
                img.width = 200;
                img.style.padding = "10px 10px 10px 10px"
            }
            else{
                text = document.createElement(tag);
                text.innerText = "Name: " + received.text;
                text.style.fontSize = "20px";

                /*text2 = document.createElement(tag);
                text2.innerText = "Description: " +received.text2;
                text2.style.fontSize = "20px";*/

                text3 = document.createElement(tag);
                text3.innerText = "Ingredients: " +received.text3;
                text3.style.fontSize = "20px";
            }
            }
        }
    }

    socket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };
</script>

</html>