html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
    /* background-color: #aee8ff; */
    background-image: linear-gradient(to bottom, #feffd2, #ffe6c5, #ffb5e9);
    font-family: 'Ubuntu', sans-serif;
    text-shadow: 3px 3px 3px #b4b4b4;
}

.background {
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);
    position: fixed;
    height: 100%;
    min-width: 100vw;
    display: grid;
    grid-gap: 0px;
    border: none;
    padding: 0;
    /* background-color: #fefae0; */
}

h1 {
    font-size: 75px;
    text-align: center;
    font-family: 'Otomanopee One', sans-serif;
}

h2 {
    font-size: 40px;
    text-align: center;
}

h3 {
    font-size: 40px;
    text-align: center;
}

h3 .smol {
    font-size: 10px;
}

#title {
    text-align: center;
    font-weight: bold;
}

#title-container {
    background-color: #dda15e;
    padding-top: 20px;
    padding-bottom: 15px;
}

.card {
    background-color: white;
    margin-left: 3%;
    margin-top: 5%;
    margin-bottom: 10px;
    width: 45%;
    height: 500px;
    float: left;
    /* padding: 20px 20px 7px 20px; */
    border-radius: 30px;
    box-shadow: 20px 20px 100px 10px rgb(255, 238, 164);
    /* font-size: 30px;
    text-align: center; */
}

#card {
    max-width: 100%;
    height: 350px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.event-title {
    text-align: center;
    font-weight: bold;
    font-family: Lucida Sans;
    color: #606c38;
}

img #camera_roll {
    text-align: center;
    margin-left: 10%;
}

#back {
    margin-top: 50px;
    margin-left: 12%;
    font-size: 40px;
    text-shadow: 3px 3px 3px #838383;
    width: 200px;
    height: 100px;
    border-radius: 12px;
    background-color: white;
    float: left;
}

#next {
    margin-top: 50px;
    margin-left: 350px;
    font-size: 40px;
    text-shadow: 3px 3px 3px #838383;
    width: 200px;
    height: 100px;
    border-radius: 12px;
    background-color: white;
    float: left;
}

#description {
    margin-left: 6%;
    font-size: 30pt;
    height: 200px;
    width: 850px;
    border-radius: 15px;
    background-color: white;
}

footer {
    position: absolute;
    border-top: 5px solid #eaedff;
    filter: drop-shadow(0px 3px 3px rgba(163, 133, 133, 0.4));
    /* background-color: pink; */
    bottom: 15px;
    height: 115px;
    width: 100%;
    font-size: 40px;
    text-align: center;
    padding: 20px;
}

footer a {
    display: block;
    text-decoration: none;
    color: #f2f4ff;
    float: left;
    width: 25%;
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.4));
}


/* Info Page */

#recipe {
    grid-column-start: 7;
    grid-column-end: 16;
    grid-row-start: 7;
    grid-row-end: 8;
}

.image .profile {
    margin-left: 80px;
}

.food-pic {
    width: 300px;
    height: auto;
}

.info_card {
    background-color: white;
    margin-left: 8%;
    margin-top: 2%;
    margin-bottom: 10px;
    width: 80%;
    height: 400px;
    float: left;
    /* padding: 20px 20px 7px 20px; */
    border-radius: 30px;
    box-shadow: 20px 20px 100px 10px rgb(255, 238, 164);
    /* font-size: 30px;
    text-align: center; */
}

#info_card {
    max-width: 100%;
    height: 100%;
    border-radius: 30px;
}

.camera_roll {
    width: 100px;
    height: 100px;
}